<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kht.Ecommerce.mapper.CartMapper">
    <select id="getAllCartsProductVo">
        SELECT cp.cartId, p.title, p.price, cp.quantity
        FROM cart_products cp JOIN products p ON cp.productId = p.id
        WHERE cp.cartId = #{cartId};
    </select>

</mapper>