<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kht.Ecommerce.mapper.UserMapper">
    <select id="getAllUsers">
      SELECT *
      FROM users;
    </select>

    <select id="existByEmail">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <select id="getUsersById">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insertUser">
        INSERT into users (email, username, password, firstname, lastname, phone, city, street,street_number, zipcode)
        VALUES (#{email}, #{username}, #{password}, #{firstname}, #{lastname}, #{phone}, #{city}, #{street}, #{streetNumber}, #{zipcode})
    </insert>


</mapper>