<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/pizza-style.css">
</head>
<body>
<div class="container">
    <h1>회원가입</h1>
    <label for="nickname">닉네임</label>
    <input type="text" name="nickname" id="nickname" disabled>

    <label for="name">이름</label>
    <input type="text" name="name" id="name" disabled>

    <label for="email">이메일</label>
    <input type="email" name="email" id="email" disabled>

    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password">

    <label for="profileImage">프로필이미지</label>
    <input type="file" name="profileImage" id="profileImage">

    <label for="gender">성별</label>
    <input type="text" name="gender" id="gender">

    <label for="birthday">생년월일</label>
    <input type="text" name="birthday" id="birthday">

    <button type="button" id="signup" class="btn">가입하기</button>
</div>

<script>
    $(document).ready(function () {
        const params = new URLSearchParams(window.location.search);
        const name = params.get('name');
        const nickname = params.get('nickname');
        const email = params.get('email');
        const profileImage = params.get('profileImage');
        // 성별을 frontend 에서 backend 로 넘어온 f -> female 로 표기 설정
        let gender = params.get('gender').toLowerCase();
        const birthday = params.get('birthday');

        // refactoring
        // DB 에 일정한 데이터를 INSERT 하기 위해 데이터 refactoring
        if (gender) {
            gender = (gender === 'f' ? 'Female' : (gender === 'm' ? 'Male' : gender));
        }

        console.log("nickname : " + nickname + ", email : " + email + ", profileImage : " + profileImage + ", gender : " + gender + ", birthday : " + birthday);

        $('#name').val(decodeURIComponent(name));
        $('#nickname').val(decodeURIComponent(nickname));   // 한글 깨짐없이 가져오기
        $('#email').val(email);
        $('#profileImage').attr('src', profileImage);
        $('#gender').val(gender);
        $('#birthday').val(birthday);
    })

</script>
</body>
</html>