<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="/css/book-styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="title">책 수정하기</h1>
    <form id="edit-form" class="edit-form">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required>

        <label for="author">저자:</label>
        <input type="text" id="author" name="author" required>

        <label for="genre">장르:</label>
        <input type="text" id="genre" name="genre" required>

        <label for="imagePath">이미지 경로:</label>
        <input type="text" id="imagePath" name="imagePath" required>

        <button type="submit" class="btn">수정 완료</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        const userId = new URLSearchParams(window.location.search).get("id");
        console.log("userId : " + userId);
        // userId 값으로 유저 상세정보 불러오기
        $.ajax({
            url: `/api/books/${userId}`,
            method: 'GET',
            success: function (book) {
                //$('#title').book.val();
                $('#title').val(book.title);
                $('#genre').val(book.genre);
                $('#author').val(book.author);
                $('#imagePath').val(book.imagePath);
            }
        })

        $('#edit-form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: `/api/books/${userId}/update`, // parameter 로 받는 것이 아니기 때문에 중간에 작성 가능
                method: "PUT",  // POST 로 데이터가 수정이 되긴 하지만 restful 개념에 어긋나기 때문에 PUT 으로 작성할 것
                contentType: "application/json", // FormData 를 전송할 때 필요
                data: JSON.stringify({
                    title: $('#title').val(),
                    author: $('#author').val(),
                    genre: $('#genre').val(),
                    imagePath: $('#imagePath').val(),
                }),
                success: function (data) {
                    alert(data + "개 수정!");
                    window.location.href = `/book?id=${userId}`;
                },
                error: function () {
                    alert("책 수정 중 에러 발생!");
                }
            })
        })
    })


</script>

</body>
</html>