<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>유저 수정하기</h1>
<form >
    <label>유저 이름 : </label>
    <span id="username"></span>

    <label for="email">이메일 : </label>
    <input type="email" id="email">

    <label for="phone">핸드폰 번호 : </label>
    <input type="text" id="phone" pattern="[0-9\-]">

    <label for="city">사는 곳 : </label>
    <input type="text" id="city">

    <label for="street">도로 명 : </label>
    <input type="text" id="street">

    <label for="streetNumber">도로 번호 : </label>
    <input type="number" id="streetNumber">

    <label for="zipcode">우편번호 : </label>
    <input type="text" id="zipcode">

    <button type="button" id="editBtn">수정하기</button>
</form>

<script>
    $(document).ready(function () {
        const userId = new URLSearchParams(window.location.search).get("id");
        console.log("userId : " + userId);
        // id 값으로 유저 상세정보 불러오기 ajax
        $.ajax({
            url: `/api/user/${userId}`,
            method: "GET",
            success: function (user) {
                if (user) {
                    $('#username').text(user.lastname + " " + user.firstname);
                    //$('#lastname').text(user.lastname);
                    //$('#firstname').text(user.firstname);
                    /* input 태그는 val 형식으로 값 넣어줘야 함 */
                    $("#email").val(user.email);
                    $("#phone").val(user.phone);
                    $("#city").val(user.city);
                    $("#street").val(user.street);
                    $("#streetNumber").val(user.streetNumber);
                    $("#zipcode").val(user.zipcode);
                } else {
                    alert("조회하신 유저 정보가 없습니다.");
                }
            },
            error : function () {
                alert("예기치 못한 에러 발생")
            }

        })


        // PutMapping
        $("#editBtn").click(function (event) {
            event.preventDefault();

            // PUT method 이용해서 회원정보 수정
            // api url 주소 = /api/

            $.ajax({
                url: `/api/user/edit/${userId}`,
                method: 'PUT',
                // POST 와 PUT 은 contentType && data 필수!
                contentType: "application/json", // 글자형식만 전송
                data: JSON.stringify({
                    email: $('#email').val(),
                    phone: $('#phone').val(),
                    city : $("#city").val(),
                    street : $("#street").val(),
                    streetNumber : $("#streetNumber").val(),
                    zipcode : $("#zipcode").val()
                }),
                success: function (data) { // contentType 으로 data 전송 성공
                    alert("성공!! " + data + "개 수정");
                    window.location.href = `/user?id=${userId}`;
                },
                error : function () {
                    alert("데이터 로딩 실패");
                }
            })
        })
    })

</script>
</body>
</html>