<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kht.PizzaMenu.mapper.UserMapper">
    <!-- 유저 정보 조회 -->
    <select id="">
        SELECT * FROM userss
        WHERE user_id = #{userId}
    </select>

    <!-- 로그인 확인 -->
    <select id="">
        SELECT * FROM userss
        WHERE user_id = #{userId} AND password = #{password}
    </select>
</mapper>