<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="icon" href="favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>안녕하세요. 홈페이지입니다.</h1>
<div class="main-container" id="mainContainer"></div>
<div class="test-container" id="testContainer"></div>
<script>
    /*$.ajax({
        url: '/api/data', // controller 서버의 엔드포인트 경로
        method: 'GET',
        dataType: 'json',
        success: function(data) {

            $('#mainContainer').append(`<p> msg : ${JSON.stringify(data.msg)}</p>`);
            $('#mainContainer').append(`<p> status : ${JSON.stringify(data.status)}</p>`);
            console.log("데이터 불러오기 성공");
        },
        error: function(error) {
            console.log(error);
            $('#mainContainer').html(
                '데이터를 가져오지 못했습니다.'
            );
        }
    })*/

    $.ajax({
        url: '/api/member', // controller 서버의 엔드포인트 경로
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            $.each(data, function(index, value) {
                $('#mainContainer').append(`<p>value.nickname</p>`);
            })
        },
        error: function(error) {
            console.log("---" + error);
            $('#testContainer').html(
                '데이터를 가져오지 못했습니다.'
            );
        }
    })
</script>
</body>
</html>