<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피자 상세보기</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/pizza-style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container" id="container">
    <!-- 상세정보 / 수정 / 삭제 버튼 추가 -->
    <h1>피자 상세정보</h1>
    <div id="pizza-detail">
        <img class="pizza-img" src="/images/default-pizza.png" id="pizza-img"/>
        <p><strong>이름 : </strong><span id="pizza-name"></span> </p>
        <p><strong>가격 : </strong><span id="pizza-price"></span> </p>
        <p><strong>설명 : </strong><span id="pizza-description"></span> </p>
    </div>
    <div class="buttons">
        <a id="edit-button" class="button" href="#" onclick="editFunction()">수정</a>
        <button id="delete-button" class="btn">삭제</button>
        <a href="/pizzas" class="btn">목록으로 이동하기</a>
    </div>
</div>
<script>
    const pizzaId = new URLSearchParams(window.location.search).get("id");
    $.ajax({
        url:`/api/pizza/${pizzaId}`,
        method: 'GET',
        success: function (pizza) {
            if (!pizza) {
                alert("no data");
                window.location.href = "/pizzas";
                return;
            }
            $("#pizza-name").text(pizza.name);
            $("#pizza-price").text(pizza.price);
            $("#pizza-description").text(pizza.description);

        },
        error: function () {
            alert("error ");
            // error status NUMBER = 숫자 숫자의미 trouble shooting
            window.location.href = "/pizzas";
        }
    });

    function editFunction() {
        console.log("edit function");
        window.location.href = `/pizzas/edit?id=${pizzaId}`;
    }

    $('#delete-button').click(function () {
        if (confirm("정말 삭제하시겠습니까? ")) {
            $.ajax({
                url : `/api/pizzamenu/delete/${pizzaId}`,
                method : 'DELETE',
                success : function () {
                    alert("삭제 완료!");
                    window.location.href = "/pizzas";
                },
                error : function() {
                    alert("컨트롤러에서 문제 발생! 삭제 불가");
                }

            })

        }
    })


</script>
</body>
</html>