<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
    <h2>카카오톡 로그인</h2>
    <img id="kakaoLogin" src="/img/kakao_login_large_narrow.png">
</div>

<script>
    /*
    port 8085
    Redirect URI = /login/oauth2/code/kakao
    필수 동의 : 닉네임, 이름 이메일
    추가 동의 : 프로필 사진
    Myapp
     */
    $("#kakaoLogin").click(function () {
        $.ajax({
            url : '/auth/kakao/callback',
            method: 'GET',
            success: function (data) {
                window.location.href = data;
            },
            error : function (data) {
                alert("카카오 로그인으로 이동하는 중 문제가 발생했습니다.");
            }
        })
    })

</script>
</body>
</html>