<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
    <h2>카카오톡 로그인</h2>
    <img id="kakaoLogin" src="/img/kakao_login_large_narrow.png">
</div>

<script>
    $("#kakaoLogin").click(function () {
        $.ajax({
            url : '/login/oauth2/code/kakao/login',
            method: 'GET',
            success: function (data) {
                window.location.href = data;
            },
            error : function (data) {
                console.log(data);
            }
        })
    })

</script>
</body>
</html>