<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 성공</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h2>회원가입</h2>
<form>
    <label>닉네임 : </label>
    <input type="text" id="nickname" name="nickname" th:value="${nickname}" disabled>

    <label>이름 : </label>
    <input type="text" id="username" name="username" th:value="${name}" disabled>

    <label>이메일 : </label>
    <input type="email" name="email" th:value="${email}" disabled>

    <label>비밀번호 : </label>
    <input type="password" id="password" name="password" required>
    <!-- image src th:src 카카오톡 프로필 이미지 가져오기 -->
    <img th:src="${profileImg}">
    <button type="button" id="signForm">가입하기</button>
</form>

<script>
    $('#signForm').click(function (e) {
        e.preventDefault();
        let nickname = $('#nickname').val();
        let username = $('#username').val();
        let email = $('#email').val();
        let password = $('#password').val();
        const formData = new FormData();
        formData.append("nickname", nickname);
        formData.append("username", username);
        formData.append("email", email);
        formData.append("password", password);


        $.ajax({
            url: '/api/signup',
            method: 'POST',
            contentType: false, // FormData 를 전송할 때 필요
            processData: false,
            data: formData,
            success : function () {
                window.location.href='success';
            },
            error : function () {
                alert("회원가입에 실패했습니다.");
            }

        })
    })

</script>
</body>
</html>