<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카페 목록</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>카페 목록</h1>
<form id="cafeList-form" th:action="@{/recafeInfo}" method="post">
    <div id="cafeList">
        <!-- 카페 목록 표시 영역 -->
    </div>
</form>
</body>
<script>
    const form = document.getElementById('cafeList-form');
    $.ajax({
        url: '/api/cafes',
        method: 'GET',
        success: function(data) {
            $.each(data, function(index, cafe) {
                const cafeInfo = `<p>[${cafe.id}] ${cafe.name} <input type = "button" th:value="${cafe.id}"></p>
                                    `;
                $('#cafeList').append(cafeInfo);
            });
        },
        error : function(error) {
            alert('예기치 못한 에러 발생');
            console.log(error);
        }
    })

    form.addEventListener('click', () => {
        form.submit();
    })
</script>
</html>